@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply text-gray-900;
  }
}

@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-br from-indigo-500 to-purple-600;
  }
}



